* {
	box-sizing: border-box;
}
body {
	background-color: #FA8072;
	font-family: 'Muli', sans-serif;
	height: 1050vh;
	overflow: hidden;
}
h1 {
	font-size: 5vw;
	font-weight: bold;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 1;
	width: 100%;
}
.overlay {
	z-index: 2;
}
.line {
	background-color: #fff;
	border-radius: 50px;
	position: absolute;
	top: 50%;
	left: -1vw;
	transform: translateY(-50%);
	height: 2vw;
	width: 0;
	animation: grow 3s linear forwards;
	z-index: 2;
}
@keyframes grow {
	to {
		width: 85vw;
	}.
}...
.
..........kjhk
..///
/....
main

/////////////
//////////
///////////
///////////
////////
//////////
//////////
/////////
........
,,,,,,,,,,,
mmmmmmmmmmmmm
,,,,,,,,,,,,
,,,,,,,,
.........
/////////////

 }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
 }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
//////////////////////
////////////////////////
///////////////////////////
/////////////////////////
///////////////////////////
/////////////////////
///////////////
/////////////////////
////////////////////////
///////////////////////////
////////////////////
////////////////////////////
////////////////////////
///////////////////////////
//////////////////////////
////////////////////////////
////////////////////
///////////////////////////////
/////////////////////////
///////////////////////////////////
/////////////////////////////
/////////////////////
////////////////////
/////////////////////
//////////////////////
/////////////////
/////////////////
//////////////
////////////////////////
//////////////
//////////
//////////////////////////////////////
//////////////////
//////////////
////////////////
///////////////////
/
















///////////////
///////
/
/////
//////

